body{
    margin: 0 auto;
}
.hidden {
    display: none;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0 auto;
    background-size: cover;
    top: 0;
    z-index: -100;
    opacity: 0.75;
}

ul {
    list-style: none;
}

input[type=text]{
    width: 500px;
    height: 30px;
    border: none;
    border-bottom: 3px solid whitesmoke;
    /* border-radius: 5px; */
    background: none;
    font-weight: bold;  
    font-size: 30px;
    color: #c5c4c4;
}

#todo-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    
}

#todo-list{
    /*white-space: nowrap;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    /* text-align: center; */
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
#todo-list span{
    display: inline-block;
    width: 450px;
    height: 35px;
    justify-content: space-between;
    border-bottom: 2px solid whitesmoke;
}

#login-form{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    font-size: 15px;

}

#greeting{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    font-size: 30px;

}



#clock{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    font-size: 90px;

}

#quote{   
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -2;
    text-align: center;
    font-size: 15x;
    font-weight: bold;
}

.quote {
    font-size: 25px;
}